body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
}

.header-text {
    color: #F9FAF8;
    font-size: 24px;
}

.header-links {
    color: #E5E7EB;
    flex: 1;
}

.hero {
    background-color: #1F2937;
    display: flex;
}

.hero-main-text {
    color: #F9FAF8;
    font-size: 17px;
    font-weight: 900;
}

.hero-secondary-text {
    color: #E5E7EB;
}

.body {
    background-color: #F9FAF8;
    display: flex;
}

.body-images {
    background-color: #F9FAF8;
    display: flex;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
}

.signup {
    background-color: #F9FAF8;
    display: flex;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8
}

/*
.recipes:link {
    color: lightgray;
}

.recipes:visited {
    color: cornflowerblue;
}

.recipes:hover {
    color: lightgreen;
}

.recipes:active {
    color: red;
}
*/